body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url(./assets/BATTLEFIELD.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 75%;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 100px;
  height: 140px;
  background-color: white;
  background-image: url(./assets/CARDs_Heroes_Background.avif);
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.card-title {
  margin: 0;
  font-size: 0.6rem;
}

.card-level {
  font-size: 0.6rem;
}

.card-image {
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin: 0;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-description {
  font-size: 0.6rem;
  height: 50px;
  overflow: hidden;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
  font-weight: 2;
}

.placeholder {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(assets/BackgroundCARD.jpg);
  background-size: cover;
  /* visibility: hidden; */
}

.player-placeholder {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(assets/CARDs_Heroes_Background.avif);
  background-size: cover;
}

.side-column {
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
}
.left {
  margin-bottom: 15px;
}
.right {
  margin-top: 15px;
  justify-content: flex-start;
}

.deck-placeholder {
  width: 120px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}
